.sidebar {
  background-color: $color-primary;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;

  display: grid;
  justify-items: center;
  align-items: start;

  @media only screen and (max-width: $break-1000px) {
    grid-column: full-start / full-end;
    grid-row: 1 / 2;
    align-items: center;
    justify-items: end;
  }
}

.sidebar-collapse__btn {
  border: none;
  outline: none;
  background-color: transparent;
  border-radius: 0;

  margin: 3rem auto;
  width: 4.5rem;
  padding: 1.25rem 0;

  border-top: 2px solid $color-grey-light-1;
  border-bottom: 2px solid $color-grey-light-1;

  cursor: pointer;
  transition: transform 0.2s;

  @media only screen and (max-width: $break-1000px) {
    margin: 1rem 3rem;
  }

  &::before {
    content: "";
    display: block;
    height: 1.5px;
    width: 4.5rem;
    background-color: $color-grey-light-1;
  }

  &:hover {
    transform: translateY(-0.3rem);
  }
}
