%heading-placeholder {
  font-family: $font-display;
  letter-spacing: 1.5px;
  font-weight: 400;
}

.heading-1 {
  @extend %heading-placeholder;
  font-size: 4rem;
  text-transform: capitalize;
  line-height: 1;

  &--dark {
    color: $color-grey-dark-1;
  }

  &--light {
    color: $color-grey-light-1;
  }
}

.heading-2 {
  @extend %heading-placeholder;
  font-size: 4.5rem;
  font-style: italic;
  line-height: 1;
}

.heading-3 {
  @extend %heading-placeholder;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: $color-primary;
}

.heading-4 {
  @extend %heading-placeholder;
  font-size: 1.8rem;
  text-transform: capitalize;

  &--dark {
    color: $color-grey-dark-1;
  }

  &--light {
    color: $color-grey-light-1;
  }
}

.mb {
  &-hg {
    margin-bottom: 8rem;
  }
  &-lg {
    margin-bottom: 4rem;
  }
  &-m {
    margin-bottom: 3rem;
  }
  &-sm {
    margin-bottom: 2rem;
  }
}

//button
.btn {
  border: none;
  outline: none;
  border-radius: 0;
  padding: 1.6rem 4rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: $color-grey-light-1;
  background-color: $color-primary;
  cursor: pointer;
  transition: all 0.2s;

  &:hover,
  &:active {
    background-color: $color-primary-dark;
  }
}

.text-line-h-1 {
  line-height: 1;
}

.text-line-h-0 {
  line-height: 0;
}
